* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

#wrap {
    width : 100%;
    margin : 0 auto;
}

/* Header */

.header {
    background-color: #74B243;
    display: flex;
    justify-content: center;
    
}

#logo {
    width : 100px;
    height : 100px;
    margin-right : 10px;
}

/* Navigate */

.navigate {

}

ul, li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
    margin-left : 10px;
    margin-top : 10px;
}

li {
    padding : 10px;
    margin : 10px;
    color : white;
    box-sizing: border-box;
    width : 200px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

li:first-child {
    margin-left : 20px;
}

a:visited, a:link {
    text-decoration: none;
    color : white;
}


/* Content */
.content {
    background-color: #F1F1F2;
    padding : 10px;
}

.container {
    width : 1200px;
    margin : 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 2fr); 
    gap: 10px;
    justify-content: center;
    background-color: white;    
    padding : 30px;
    box-sizing: border-box;
}

.container{
    width : 1200px;
    margin : 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    gap: 10px;
    justify-content: center;
    background-color: white;
}

.box {
    width : 50%;
    height : 300px;
    border : 1px solid black;
    transition: all 0.4s ease;
    padding : 10px;
    margin : 30px;  
}

.button {
    /* 버튼정렬 */
}

.box.expanded {
    width : 90%;
    height : 90%;
}

/* 탭 메뉴 */
.tab-box {
    border : 1px solid #ccc;
}

.tabs {
    display: flex;
    gap : 10px;
    margin : 5px;
}

.tab {
    cursor: pointer;
    border : none;
    padding : 5px;
}

.tab.active {
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* 확대, Content Display 처리 */
.zoom {
    /* 버튼 디자인 */
    cursor: pointer;
}

.text {
    display: none;
}

.text.visible {
    display: block;
}


