* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

#wrap {
    width : 100%;
    margin : 0 auto;
}
/* Header */

.header {
    background-color: #74B243;
    display: flex;
    justify-content: center;
    
}

#logo {
    width : 100px;
    height : 100px;
    margin-right : 10px;
}

/* Navigate */

.navigate {

}

.navigate ul, li {
    list-style: none;
}

.navigate ul {
    display: flex;
    justify-content: center;
    margin-left : 10px;
    margin-top : 10px;
}

.navigate li {
	display: flex;
    align-items: center;      
    justify-content: center;  
    padding: 10px;
    margin: 10px;
    color: white;
    width: 200px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    list-style: none;
}

.navigate li a {
    display: block;      
    padding: 10px;       
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.navigate li a:hover {
    background: rgba(255, 255, 255, .12);
}

.navigate li:first-child {
    margin-left : 20px;
}

.navigate a:visited, a:link {
    text-decoration: none;
    color : white;
}

/* content */
.content {
    background-color: #F1F1F2;
    padding : 10px;
}

/* Container */
.container {
  width : 1200px;
  margin : 0 auto;
  justify-content: center;
  background-color: white;
  text-align: center;
}

.headline {
  text-align: center;
  margin : 10px;
  padding-top : 10px;
}

#login-form {
  width : 400px;
  display: inline-block;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: left;
  /* margin-bottom : 20px; */
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top : 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  align-items: left;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-weight: bold;
}

.btn {
    background: #4CAF50;
    color: white;
}


/* Footer */
.footer {
    background: #333;       /* 어두운 그레이 */
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    letter-spacing: 1px;
}