* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

#wrap {
    width : 100%;
    border : 1px solid red;
    padding : 10px;
    /* margin-left : 150px; */
    /* margin-right : 150px; */
    /* width : 100%; */
    margin : 0 auto;
}

/* Header */

.header {
    background-color: #74B243;
    display: flex;
    justify-content: center;
    
}

#logo {
    width : 100px;
    height : 100px;
    margin-right : 10px;
}

/* Navigate */

.navigate {

}

ul, li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
    margin-left : 10px;
}

li {
    padding : 10px;
    margin : 10px;
    color : white;
    /* border : 2px solid black; */
    /* border-radius: 10px; */
    /* background-color: yellow; */
    box-sizing: border-box;
    width : 200px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

li:first-child {
    margin-left : 20px;
}
/* Container */


.container{
    width : 1200px;
    margin : 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 */
    gap: 10px;
    justify-content: center;
}

.box {
    width : 50%;
    height : 300px;
    border : 1px solid black;
    transition: all 0.4s ease;
    padding : 10px;
    margin : 30px;  
    cursor: pointer;
}

.box.expanded {
    width : 90%;
}

.text {
    display: none;
}

.text.visible {
    display: block;
}

.container {
    background-color: #ffE8cd;
}


