.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: 
        "box2 box3 box4"
        "box1 box1 box5"
        "box1 box1 box6";
    gap: 10px;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
}
.box1 {
    background-color:  #ffE8cd;
    grid-area: box1;
}
.box2 {
    background-color: #ffd6ba;
    grid-area: box2;
}
.box3 {
    background-color: #E2bfb3;
    grid-area: box3;
}
.box4 {
    background-color: #ffb293;
    grid-area: box4;
}
.box5 {
    background-color: #ffbe98;
    grid-area: box5;
}
.box6 {
    background-color: #ffec9e;
    grid-area: box6;
}
.box1, .box2, .box3, .box4, .box5, .box6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 10px;
}