.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: 
        "box1 box2 box3"
        "box4 box5 box6"
        "box7 box8 box9";
    gap: 10px;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
}
.box1 {
    background-color:  #ffE8cd;
    grid-area: box1;
}
.box2 {
    background-color: #ffd6ba;
    grid-area: box2;
}
.box3 {
    background-color: #E2bfb3;
    grid-area: box3;
}
.box4 {
    background-color: #ffb293;
    grid-area: box4;
}
.box5 {
    background-color: #ffbe98;
    grid-area: box5;
}
.box6 {
    background-color: #ffec9e;
    grid-area: box6;
}
.box7 {
    background-color: #ffdcdc;
    grid-area: box7;
}
.box8 {
    background-color: #E2bfb3;
    grid-area: box8;
}
.box9 {
    background-color: #f7ded0;
    grid-area: box9;
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
h4 {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 30px;
    opacity: 50%;
}